body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: red;
    background-color: #ffffff;
  }
  
  header {
    font-family: "Kablammo", serif;
    color:red;
    padding: 20px 10px;
    text-align: center;
  }
  
  .desktop-message {
    display: block; 
  }
  
  .mobile-message {
    display: none; 
  }
  .tablet-message {
    display: none; 

  }

  
  nav {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
    padding: 10px 0;
  }
  
  nav a {
    color: red;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 16px;
    transition: border 0.3s ease;
  }
  
  nav a:hover {
    border: 1px solid red;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .text-content {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #fffbfb;
    border: 1px solid  red ;;
  }
  
  .text-content h2 {
    margin-bottom: 15px;
  }
  
  .text-content p {
    margin-bottom: 10px;
  }
  
  .image-content {
    flex: 1;
    margin: 10px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .image-grid img {
    width: 100%;
    height: 100%;
    border: red 3px solid;
    border-radius: 10px;
  }



.kablammo{
  font-family: "Kablammo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}